<div class="pad-def bg-default bor-b-def">
    <h2 class="no-margin">radio<small class="font-xs text-disabled mar-l-xs">component</small></h2>
</div>
<div class="wrapper-md">
    <p class="h4 m-b-sm block text-primary">示例</p>
    <form class="bg-white pad-def bor-def" name="form">
        <radio [(key)]="radio" [value]="1" name="radio" size="sm">radio={{radio}}</radio>
        <radio [(key)]="radio" [value]="2" name="radio">radio={{radio}}</radio>
        <radio [(key)]="radio" [value]="3" name="radio" customBackground="#ff6700" [disabled]="true" size="lg">
            radio={{radio}}
        </radio>
        <radio [(key)]="radio" [value]="4" name="radio">radio={{radio}}</radio>
        <radio [(key)]="radio" [value]="5" name="radio">radio={{radio}}</radio>
        <radio [(key)]="radio" [value]="6" name="radio" styleClass="none">radio={{radio}}</radio>
    </form>
    <code-high-light maxHeight="500px" language="html" codeSrc="./assets/sources/radio-demo/radio-demo.component.html"></code-high-light>
    <p class="h4 m-b-sm block text-primary">@Input</p>
    <div class="over-auto">
        <table class="table table-bordered bg-white">
            <thead class="bg-default">
                <tr>
                    <th>属性名</th>
                    <th>类型</th>
                    <th>说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>key</td>
                    <td>any</td>
                    <td>
                        绑定的key值。
                    </td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>any</td>
                    <td>
                        key对应的值。
                    </td>
                </tr>
                <tr>
                    <td>size</td>
                    <td>string</td>
                    <td>
                        组件尺寸。默认md,可选：lg、md、sm。
                    </td>
                </tr>
                <tr>
                    <td>display</td>
                    <td>string </td>
                    <td>
                        显示方式。默认为行内，可选block（块级）
                    </td>
                </tr>
                <tr>
                    <td>disabled</td>
                    <td>any </td>
                    <td>
                        绑定在组件内input元素上disabled属性的值，当该值为真时组件将被禁用。
                    </td>
                </tr>
                <tr>
                    <td>customBackground</td>
                    <td>string</td>
                    <td>
                        勾选时的背景，值为颜色值，如rgba(0,0,0,1)、#000000。
                    </td>
                </tr>
                <tr>
                    <td>styleClass</td>
                    <td>string</td>
                    <td>
                        绑定在组件内最外层元素上的css类。
                    </td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>string</td>
                    <td>
                        绑定在组件内input元素上name属性的值。
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="h4 m-b-sm block text-primary">@Output</p>
    <div class="over-auto">
        <table class="table table-bordered bg-white">
            <thead class="bg-default">
                <tr>
                    <th>属性名</th>
                    <th>类型</th>
                    <th>说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>keyChange</td>
                    <td>EventEmitter
                        < any>
                    </td>
                    <td>
                        key值改变事件，触发时传入参数为key的值。
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="h6 m-b-sm block text-primary">From:<span class="text-disabled">RadioModule/RadioComponent</span></p>
</div>