<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">指令</h2>
</div>
<div class="wrapper-md">
  <div class="bg-white pad-def">

    <p class="h3 m-b-sm block">toggleClass</p>
    <div>
      <p class="text-disabled">ToggleClassDirective</p>
      <p>切换元素绑定的css类，当前支持点击切换，可关联另一个元素同步切换css类名。灵活使用该指令可实现多种效果。</p>
      <table class="table table-bordered">
          <thead>
          <th>参数</th>
          <th>类型</th>
          <th>是否必须</th>
          <th>说明</th>
          </thead>
        <tbody>
        <tr>
          <td>toggleClass</td>
          <td>string</td>
          <td>是</td>
          <td>要切换的CSS类，多个类名以空格连接</td>
        </tr>
        <tr>
          <td>opt-target</td>
          <td>string</td>
          <td>否</td>
          <td>关联元素的ID</td>
        </tr>
        <tr>
          <td>opt-targetClass</td>
          <td>string</td>
          <td>否</td>
          <td>关联元素的随指令元素切换的CSS类，多个类名以空格连接</td>
        </tr>
        <tr>
          <td>opt-revokable</td>
          <td>boolean</td>
          <td>否</td>
          <td>是否在点击其他地方时将css类重置</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div  class="line line-dashed b-b line-lg pull-in"></div>
    <p class="h3 m-b-sm block">datePicker</p>
    <div>
      <p class="text-disabled">DatePickerDirective</p>
      <p>一个日期时间选择器</p>
      <pre>
        <code>
    @Input('opt-event') event:string;//触发的时间
    @Input('opt-format') format:string;//格式化
    @Input('opt-ispicktime') isPickTime:boolean;//是否选择时间
    @Input('opt-isclearbtn') isShowClearButton:boolean;//是否显示清空按钮
    @Input('opt-istodaybtn') isShowTodayButton:boolean;//是否显示今天按钮
    @Input('opt-issurebtn') isShowSureButton:boolean;//是否显示确定按钮
    @Input('opt-festival') isShowFestival:boolean;//是否显示节日
    @Input('opt-min') min:string;//最小日期
    @Input('opt-max') max:string;//最大日期
    @Input('opt-start') start:string;//开始日期
    @Input('opt-end') end:string;//结束日期
    @Input('opt-fixed') isFixed:boolean;//是否固定在可视区域
    @Input('opt-zindex') zIndex:number;//css z-index
    @Output() complete;//选择完成的回调
        </code>
      </pre>
    </div>
  </div>
</div>

