<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">文字最大长度<small class="font-xs text-disabled mar-l-xs">directive</small></h2>
</div>
<div class="wrapper-md">
  <table class="table table-bordered bg-white">
    <tr>
      <td width="15%"><b>类名</b></td>
      <td>
        TextMaxLengthDirective
      </td>
    </tr>
    <tr>
      <td><b>所属模块</b></td>
      <td>TextMaxLengthModule</td>
    </tr>
    <tr>
      <td><b>类型</b></td>
      <td>指令</td>
    </tr>
    <tr>
      <td><b>selector</b></td>
      <td>
        textMaxLength
      </td>
    </tr>
  </table>
  <p class="h4 m-b-sm block text-primary">示例</p>
  <div class="mar-b-sm">
    <div textMaxLength="200px">最大长度200px:最大长度200px:最大长度200px:最大长度200px:最大长度200px:最大长度200px:最大长度200px:最大长度200px:最大长度200px:</div>
  </div>
  <code-high-light maxHeight="500px" language="html" codeSrc="./assets/sources/text-max-length-demo/text-max-length-demo.component.html" >
  </code-high-light>
</div>
