<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">分页</h2>
</div>

<div class="wrapper-md">
  <p-dataTable [value]="cars" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" (onPage)="paginate($event)">
    <p-header>List of Cars</p-header>
    <p-column field="vin" header="Vin"></p-column>
    <p-column field="year" header="Year"></p-column>
    <p-column field="brand" header="Brand"></p-column>
    <p-column field="color" header="Color"></p-column>
  </p-dataTable>
  <p class="mar-t-sm">详细文档请移步：<a class="text-info txt-underline" href="https://www.primefaces.org/primeng/#/datatable" target="_blank">primeng</a></p>

</div>
