<div class="themes-ctrl" [style.right.px]="visible?0:-150" #wrap >
  <div class="themes-ctrl-switch" title="皮肤/主题"
       (click)="toggleVisible()"
  ><i class="fa fa-cog"></i></div>

  <div class="themes-ctrl-tabs">
    <div class="themes-ctrl-tab-item" (click)="changeTab(0)" [class.active]="tabIndex==0">皮肤</div>
    <div class="themes-ctrl-tab-item" (click)="changeTab(1)" [class.active]="tabIndex==1">主题</div>
  </div>
  <div class="themes-ctrl-tab-content" *ngIf="tabIndex==0">
    <ul>
      <li (click)="setSkin('')" class="cur-poi pad-xs">
        <radio [(key)]="themesSvc.skin" value="" >默认</radio>
      </li>
      <li  class="cur-poi pad-xs" *ngFor="let skins of themesSvc.skins" (click)="setSkin(skins.value)">
        <radio [(key)]="themesSvc.skin" value={{skins.value}}>{{skins.name}}</radio>
      </li>
    </ul>
  </div>
  <div class="themes-ctrl-tab-content" *ngIf="tabIndex==1">

  </div>
</div>
