<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">DatePicker <small class="font-xs text-disabled padding-left-default">directive</small></h2>
</div>
<div class="wrapper-md">
  <div class="bg-white pad-def">
    <form class="form-inline clearfix form-search">
      <div class="form-group">
        <label class="control-label indent-sm-2 indent-md-none" >日期：</label>
        <input class="form-control" datePicker [(ngModel)]="date" name="date" placeholder="选择日期" />
      </div>
      <div class="form-group ">
        <label class="control-label" >日期时间：</label>
        <input class="form-control" datePicker [(ngModel)]="dateTime" name="dateTime" [opt-ispicktime]="true" placeholder="选择日期和时间" />
      </div>
      <div class="form-group">
        <label  class="control-label">入学时间：</label>
        <div class="input-group date-input-group">
          <input class="form-control" datePicker [(ngModel)]="startTime" name="startTime" placeholder="起始时间"/>
          <span class="input-group-addon">-</span>
          <input class="form-control" datePicker [(ngModel)]="endTime" name="endTime" placeholder="截止时间"/>
        </div>
      </div>
      <div>
        <div class="form-group ">
          <label class="control-label indent-sm-2 indent-md-none" >姓名：</label>
          <input class="form-control" placeholder="请输入全名"/>
        </div>
        <div class="form-group ">
          <label  class="control-label indent-sm-2">籍贯：</label>
          <input class="form-control" placeholder="请输入籍贯" />
        </div>
        <div class="form-group">
          &nbsp;
          <input class="btn btn-info btn-sm form-control" type="button" value="搜索" />
        </div>
      </div>
    </form>
    <p-dataTable [value]="data"  scrollHeight="200px">
      <p-column field="vin" header="Vin"></p-column>
      <p-column field="year" header="Year"></p-column>
      <p-column field="brand" header="Brand"></p-column>
      <p-column field="color" header="Color"></p-column>
    </p-dataTable>
  </div>
</div>
