<div class="padding-default bg-default border-bottom">
  <h2 class="no-margin">DatePicker <small class="font-xs text-disabled padding-left-default">directive</small></h2>
</div>
<div class="wrapper-md">
  <form class="form-inline  no-margin  bg-white padding-default clearfix">
    <div class="form-group">
      <label class="control-label">学号:</label>
      <input class="form-control" />
    </div>
    <div class="form-group">
      <label class="control-label" >班级:</label>
      <input class="form-control" />
    </div>
    <div class="form-group ">
      <label class="control-label" >姓名:</label>
      <input class="form-control" />
    </div>
    <div class="form-group ">
      <label  class="control-label">年级:</label>
      <input class="form-control" />
    </div>
    <div class="form-group ">
      <label  class="control-label">开始时间:</label>
      <input class="form-control" />
    </div>
  </form>
</div>
