<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">输入金额格式化<small class="font-xs text-disabled mar-l-xs">directive</small></h2>
</div>
<div class="wrapper-md">
  <table class="table table-bordered bg-white">
    <tr>
      <td width="15%"><b>类名</b></td>
      <td>
        CurrencyFormatDirective
      </td>
    </tr>
    <tr>
      <td><b>所属模块</b></td>
      <td>CurrencyFormatModule</td>
    </tr>
    <tr>
      <td><b>类型</b></td>
      <td>指令</td>
    </tr>
    <tr>
      <td><b>selector</b></td>
      <td>
        currencyFormat
      </td>
    </tr>
  </table>
  <p class="h4 m-b-sm block text-primary">示例</p>
  <form class="form-inline clearfix mar-b-sm">
    <input class="form-control" [(ngModel)]="amount" currencyFormat name="amount" placeholder="输入金额"/>
  </form>
  <code-high-light maxHeight="500px" language="html" codeSrc="./assets/sources/currency-format-demo/currency-format-directive-demo.component.html" >
  </code-high-light>
</div>
