<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">Spinner<small class="font-xs text-disabled padding-left-default"></small></h2>
</div>
<div class="wrapper-md">
  <div class="bg-white pad-def">
    <div>
      <spinner size="xs"></spinner>
      <spinner size="sm"></spinner>
      <spinner ></spinner>
      <spinner size="lg"></spinner>

      <spinner size="xs" type="sixty"></spinner>
      <spinner size="sm" type="sixty"></spinner>
      <spinner type="sixty"></spinner>
      <spinner size="lg" type="sixty"></spinner>
      <spinner size="lg" type="sixty"></spinner>


    </div>
    <div style="background: #000">
      <spinner size="xs" [isDark]="true"></spinner>
      <spinner size="sm" [isDark]="true"></spinner>
      <spinner [isDark]="true"></spinner>
      <spinner size="lg" [isDark]="true"></spinner>

      <spinner size="xs" type="sixty" [isDark]="true"></spinner>
      <spinner size="sm" type="sixty" [isDark]="true"></spinner>
      <spinner type="sixty" [isDark]="true"></spinner>
      <spinner size="lg" type="sixty" [isDark]="true"></spinner>

    </div>
  </div>
</div>

