<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">说明</h2>
</div>
<div class="wrapper-md">
  <table class="table table-bordered bg-white">
    <tbody>
    <tr>
      <td>当前版本</td>
      <td>v1.0</td>
    </tr>
    <tr>
      <td>背景</td>
      <td>基于google的UIBootstrap</td>
    </tr>
    <tr>
      <td>适用项目</td>
      <td>后台管理系统</td>
    </tr>
    <tr>
      <td>浏览器支持</td>
      <td>IE9+、chrome、firefox等主流浏览器</td>
    </tr>
    <tr>
      <td>屏幕尺寸支持</td>
      <td>手机主流屏幕尺寸、pc屏幕、平板屏幕</td>
    </tr>
    <tr>
      <td>技术栈</td>
      <td>Typescript+<a class="text-info" href="https://angular.cn/" target="_blank">Angular</a>(区别于angular1.x)+html+less</td>
    </tr>
    <tr>
      <td>开发环境</td>
      <td>node.js,npm,angular/cli</td>
    </tr>
    <tr>
      <td>使用方式</td>
      <td>
        从<a class="text-info" href="https://github.com/252352801/start" target="_blank">https://github.com/252352801/start</a>克隆此项目后在项目根目录执行npm install安装依赖的node.js包，安装完毕后使用angular/cli命令ng serve运行
      </td>
    </tr>
    </tbody>
  </table>
</div>

