<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">说明</h2>
</div>
<div class="wrapper-md">
  <table class="table table-bordered bg-white">
    <tbody>
    <tr>
      <td>当前版本</td>
      <td>v0.0.1</td>
    </tr>
    <tr>
      <td>背景</td>
      <td>基于google的UIBootstrap</td>
    </tr>
    <tr>
      <td>适用项目</td>
      <td>后台管理系统</td>
    </tr>
    <tr>
      <td>浏览器支持</td>
      <td>IE9+、chrome、firefox等主流浏览器</td>
    </tr>
    <tr>
      <td>屏幕尺寸支持</td>
      <td>手机主流屏幕尺寸、pc屏幕、平板屏幕</td>
    </tr>
    <tr>
      <td>技术栈</td>
      <td>Typescript+Angular(区别于angular1.x)+webpack+less</td>
    </tr>
    <tr>
      <td>使用方式</td>
      <td>可直接copy，本项目基于@angular/cli构建，prod打包时会将不需要的资源排除</td>
    </tr>
    </tbody>
  </table>
</div>
