<div class="pad-def bg-default bor-b-def">
    <h2 class="no-margin">说明</h2>
</div>
<div class="wrapper-md">
    <div class="pad-def bor-def bg-white">
        <ul>
            <li class="clearfix mar-b-sm">
                <div class="exp-label">当前版本</div>
                <div class="exp-content">v5.0.2</div>
            </li>
            <li class="clearfix mar-b-sm">
                <div class="exp-label">背景</div>
                <div class="exp-content">基于google的UIBootstrap,
                    <a class="text-info" href="https://angular.cn/" target="_blank">Angular</a>(区别于angular1.x)
                </div>
            </li>
            <li class="clearfix mar-b-sm">
                <div class="exp-label">适用项目</div>
                <div class="exp-content">PC后台管理系统</div>
            </li>
            <li class="clearfix mar-b-sm">
                <div class="exp-label">浏览器支持</div>
                <div class="exp-content">IE9+、chrome、firefox等主流浏览器</div>
            </li>
            <li class="clearfix mar-b-sm">
                <div class="exp-label">技术栈</div>
                <div class="exp-content">Typescript+<a class="text-info" href="https://angular.cn/" target="_blank">Angular</a>+html+less</div>
            </li>
            <li class="clearfix mar-b-sm">
                <div class="exp-label">开发环境</div>
                <div class="exp-content">node.js,angular/cli</div>
            </li>
        </ul>
    </div>
</div>