<div class="search-bar" (click)="stopPropagation($event)">
  <!--<input class="form-control" placeholder="输入关键字" (focus)="dropDownOptions()"
         (keyup)="emitChange($event)" value="{{keyword}}" >
  <ul class="search-bar-options" *ngIf="dropDown&&dropDownAble" (click)="hideOptions()"
      [style.max-height.px]="maxHeight"  (scroll)="onScroll($event)">
    <li (click)="selectData(1)">选项1</li>
    <li>选项2</li>
    <li>选项3</li>
    <li>选项4</li>
    <li>选项5</li>
    <li>选项6</li>
    <li>选项6</li>
    <li>选项8</li>
    <li>选项9</li>
    <li>选项10</li>

  </ul>-->
  <div ></div>
  <ng-content>

  </ng-content>
</div>


