<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">主题/皮肤</h2>
</div>
<div class="wrapper-md bg-white">
  <p>当前皮肤：{{themesSvc.skin||'默认'}}</p>
  <p class="text-disabled">注：您可以展开右边悬浮按钮，切换皮肤/主题进行预览</p>
  <div *ngIf="themesSvc.skin=='dol'">
    当前皮肤下特殊按钮：
    <button class="btn-def">btn-def</button>
    <button class="btn-def btn-def-sm">btn-def-sm</button>
    <button class="btn-def btn-def-xs">btn-def-xs</button>
  </div>
  <h3 class="text-primary">如何使用皮肤？</h3>
  <ul>
    <li>1.给body标签添加对应皮肤的类名；</li>
    <li>2.在项目根目录的.angular--cli.json文件中apps/styles里引用对应皮肤的css/less文件(其他css/less文件之后，全局样式文件style.less之前)。</li>
  </ul>
  <div>
    <h4 class="text-primary">下面是一个完整示例：</h4>
    <ul>
      <li>
        <p>1.index.html</p>
        <img src="../../assets/img/demo/theme_dol_index_body.png" />
      </li>
      <li>
        <p> 2.angular-cli.json</p>
        <img src="../../assets/img/demo/theme_dol_angularcli_apps_styles.png" />
      </li>
    </ul>
  </div>
</div>
