<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">checkbox<small class="font-xs text-disabled mar-l-xs">component</small></h2>
</div>
<div class="wrapper-md">
  <table class="table table-bordered bg-white">
    <tr>
      <td width="15%"><b>类名</b></td>
      <td>
        ToggleComponent
      </td>
    </tr>
    <tr>
      <td><b>所属模块</b></td>
      <td>ToggleModule/FormsModule</td>
    </tr>
    <tr>
      <td><b>类型</b></td>
      <td>组件</td>
    </tr>
    <tr>
      <td><b>selector</b></td>
      <td>
        toggle
      </td>
    </tr>
  </table>
  <p class="h4 m-b-sm block text-primary">示例</p>
  <form class="bg-white pad-def" name="form">
    <toggle [(value)]="toggle1"  name="obj1" size="sm" ></toggle>
    <toggle [(value)]="toggle2"  name="obj2" styleClass="bg-warning"></toggle>
    <toggle [(value)]="toggle3"  name="obj3" size="lg" styleClass="bg-dark"></toggle>
    <toggle [(value)]="toggle4"  name="obj4" styleClass="bg-danger"></toggle>
    <toggle [(value)]="toggle5"  name="obj5" styleClass="bg-primary"></toggle>
    <toggle [(value)]="toggle6"  name="obj6" styleClass="bg-success"></toggle>
    <toggle [(value)]="toggle7"  name="obj7" ></toggle>
  </form>
  <code-high-light maxHeight="500px" language="html" codeSrc="./assets/sources/toggle-demo/toggle-demo.component.html" ></code-high-light>
  <p class="h4 m-b-sm block text-primary">属性</p>
  <table class="table table-bordered bg-white">
    <thead class="bg-default">
    <tr>
      <th>属性名</th>
      <th>类型</th>
      <th>输入/输出类型</th>
      <th>说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>value</td>
      <td>Input</td>
      <td>boolean</td>
      <td>
        输入值。默认false。
      </td>
    </tr>
    <tr>
      <td>valueChange</td>
      <td>Output</td>
      <td>EventEmitter< any ></td>
      <td>
        输入值改变事件，触发时传入参数为value的值。
      </td>
    </tr>
    <tr>
      <td>size</td>
      <td>Input</td>
      <td>string</td>
      <td>
        组件尺寸。默认md,可选：lg、md、sm。
      </td>
    </tr>
    <tr>
      <td>disabled</td>
      <td>Input</td>
      <td>any </td>
      <td>
        绑定在组件内input元素上disabled属性的值。
      </td>
    </tr>
    <tr>
      <td>type</td>
      <td>Input</td>
      <td>string</td>
      <td>
        （背景）类型，默认为info ，可选 primary、success、danger、warning、info。
      </td>
    </tr>
    <tr>
      <td>styleClass</td>
      <td>Input</td>
      <td>string</td>
      <td>
        绑定在组件内最外层元素上的css类。
      </td>
    </tr>
    <tr>
      <td>auto</td>
      <td>Input</td>
      <td>boolean</td>
      <td>
        是否点击后切换，默认为true。
      </td>
    </tr>
    <tr>
      <td>action</td>
      <td>Output</td>
      <td>EventEmitter< any ></td>
      <td>
        auto不为真时点击触发的动作，传入参数为value。
      </td>
    </tr>
    <tr>
      <td>name</td>
      <td>Input</td>
      <td>string</td>
      <td>
        绑定在组件内input元素上name属性的值。
      </td>
    </tr>
    </tbody>
  </table>

</div>
