<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">图表</h2>
</div>
<div class="wrapper-md">
  <p>详细文档请移步<a class="text-info txt-underline" href="https://www.primefaces.org/primeng/#/chart" target="_blank">https://www.primefaces.org/primeng/#/chart</a></p>
  <p-chart type="bar" [data]="dataBar"></p-chart>
  <p-chart type="doughnut" [data]="dataDoughnut"></p-chart>
  <p-chart type="line" [data]="dataLine" ></p-chart>
  <p-chart type="polarArea" [data]="dataPolarArea"></p-chart>
  <p-chart type="pie" [data]="dataPie"></p-chart>
  <p-chart type="radar" [data]="dataRadar"></p-chart>
</div>
