<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">搜索框<small class="font-xs text-disabled pad-l-def">component</small></h2>
</div>
<div *ngTemplateOutlet="greet"></div>
<hr>
<h2 *ngTemplateOutlet="eng; context: myContext"></h2>
<input />
<hr>
<ng-container *ngTemplateOutlet="svk; context: myContext"></ng-container>
<hr>
<ng-template #greet><span>Hello</span></ng-template>
<ng-template #eng let-name><span>Hello {{name}}!</span></ng-template>
<ng-template #svk let-person="localSk"><span>Ahoj {{person}}!</span></ng-template>

