<div class="app-content-body fade-in-up">
  <div class="pad-def bg-default bor-b-def">
    <h2 class="no-margin">Pop<small class="font-xs text-disabled pad-l-def">service</small> </h2>
  </div>


  <div class="pad-def">
    <p class="h4  m-b-sm block">示例</p>
    <div>
      <p>
        <button class="btn btn-info" (click)="info()">pop.info</button>
        <button class="btn btn-warning" (click)="confirm()">pop.confirm</button>
        <button class="btn btn-danger" (click)="error()">pop.error</button>
        <button class="btn btn-default" (click)="loader()">loader</button>
      </p>
    </div>
    <div class="tab-container">
      <ul class="nav nav-tabs ">
        <li [ngClass]="{active: tabIndex===0}" >
          <a  (click)="changTab(0)">html</a>
        </li>
        <li [ngClass]="{active: tabIndex===1}" >
          <a  (click)="changTab(1)">typescript</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane "  [ngClass]="{active: tabIndex===0}" >
          <code-high-light language="html" codeSrc="./assets/sources/feedback/pop-demo/pop-demo.component.html">
          </code-high-light>
        </div>
        <div class="tab-pane" [ngClass]="{active: tabIndex===1}">
          <code-high-light language="typescript" codeSrc="./assets/sources/feedback/pop-demo/pop-demo.component.ts.code" >
          </code-high-light>
        </div>
      </div>
    </div>

    <p id="method" class="h4  m-b-sm m-t-sm block">方法</p>
    <ul class="no-padding">
      <li class="no-li-style">
        <p ><span class="font-bold">info(options)</span>  简单的信息提示框</p>
        <table class="table table-bordered table-responsive bg-white">
          <thead>
          <th>参数</th>
          <th>类型</th>
          <th>是否必须</th>
          <th>说明</th>
          </thead>
          <tbody>
          <tr>
            <td>options</td>
            <td>json对象</td>
            <td>是</td>
            <td>
              <a href="feedback/pop#options">
                查看
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </li>
      <li  class="no-li-style">
        <p ><span class="font-bold">confirm(options)</span> 带确定和取消操作的确认框</p>
        <table class="table table-bordered table-responsive bg-white">
          <thead>
          <th>参数</th>
          <th>类型</th>
          <th>是否必须</th>
          <th>说明</th>
          </thead>
          <tbody>
          <tr>
            <td>options</td>
            <td>json对象</td>
            <td>是</td>
            <td>
              <a href="feedback/pop#options">
                查看
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </li>
      <li  class="no-li-style">
        <p><span class="font-bold">error(options)</span>  一个简单的错误提示框</p>
        <table class="table table-bordered table-responsive bg-white">
          <thead>
          <th>参数</th>
          <th>类型</th>
          <th>是否必须</th>
          <th>说明</th>
          </thead>
          <tbody>
          <tr>
            <td>options</td>
            <td>json对象</td>
            <td>是</td>
            <td>
              <a href="feedback/pop#options">
                查看
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </li>
      <li  class="no-li-style">
        <p><span class="font-bold">onConfirm(fn)</span>  添加确认回调</p>
        <table class="table table-bordered table-responsive bg-white">
          <thead>
          <th>参数</th>
          <th>类型</th>
          <th>是否必须</th>
          <th>说明</th>
          </thead>
          <tbody>
          <tr>
            <td>fn</td>
            <td>Function</td>
            <td>是</td>
            <td>
              <a >
                为弹出框添加“确认”回调，当传入的参数为非箭头函数时，该函数上下文（this）指向该Pop实例
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </li>
      <li  class="no-li-style">
        <p><span class="font-bold">onCancel(fn)</span>  添加取消回调</p>
        <table class="table table-bordered table-responsive bg-white">
          <thead>
          <th>参数</th>
          <th>类型</th>
          <th>是否必须</th>
          <th>说明</th>
          </thead>
          <tbody>
          <tr>
            <td>fn</td>
            <td>Function</td>
            <td>是</td>
            <td>
              <a >
                为弹出框添加“取消”回调，当传入的参数为非箭头函数时，该函数上下文（this）指向该Pop实例
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </li>
      <li  class="no-li-style">
        <p><span class="font-bold">onClose(fn)</span>  添加关闭回调</p>
        <table class="table table-bordered table-responsive bg-white">
          <thead>
          <th>参数</th>
          <th>类型</th>
          <th>是否必须</th>
          <th>说明</th>
          </thead>
          <tbody>
          <tr>
            <td>fn</td>
            <td>Function</td>
            <td>是</td>
            <td>
              <a >
                为弹出框添加“关闭”(右上方关闭按钮点击后）回调，当传入的参数为非箭头函数时，该函数上下文（this）指向该Pop实例
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </li>
      <li  class="no-li-style">
        <p><span class="font-bold">close()</span>  关闭模态框</p>
        <table class="table table-bordered table-responsive bg-white">
          <thead>
          <th>参数</th>
          <th>类型</th>
          <th>是否必须</th>
          <th>说明</th>
          </thead>
          <tbody>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>
              <a >
                调用此方法将弹出框关闭
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </li>
    </ul>
    <ul class="no-padding">
      <li  class="no-li-style">
        <p id="options" class="h4  m-b-sm m-t-sm block">options说明</p>
        <table class="table bg-white">
          <thead>
          <th>属性名</th>
          <th>类型</th>
          <th style="white-space: nowrap">是否必须</th>
          <th>说明</th>
          <th>实例</th>
          </thead>
          <tbody>
          <tr>
            <td>title</td>
            <td>string</td>
            <td>否</td>
            <td>标题文字，默认值为“提示”</td>
            <td></td>
          </tr>
          <tr>
            <td>text</td>
            <td>string</td>
            <td>是</td>
            <td>pop弹出框正文</td>
            <td></td>
          </tr>
          <tr>
            <td>confirmButtonText</td>
            <td>string</td>
            <td>否</td>
            <td>“确定”按钮文字，默认值为“确定”</td>
            <td></td>
          </tr>
          <tr>
            <td>cancelButtonText</td>
            <td>string</td>
            <td>否</td>
            <td>“取消”按钮文字，默认值为“取消”</td>
            <td></td>
          </tr>
          <tr>
            <td>showConfirmButton</td>
            <td>boolean</td>
            <td>否</td>
            <td>是否显示“确定”按钮，默认为true</td>
            <td></td>
          </tr>
          <tr>
            <td>showCancelButton</td>
            <td>boolean</td>
            <td>否</td>
            <td>是否显示“取消”按钮，默认为false</td>
            <td></td>
          </tr>
          <tr>
            <td>confirmButtonType</td>
            <td>string</td>
            <td>否</td>
            <td>确定按钮类型，默认值为“info”，如值为“info”时，将会为“确定按钮”加上名为“btn-info”的class类，可选值包括“info”、“primary”、“success”、“warning”、“default”、“danger”、“dark”</td>
            <td></td>
          </tr>
          <tr>
            <td>cancelButtonType</td>
            <td>string</td>
            <td>否</td>
            <td>取消按钮类型，默认值为“default”，如值为“info”时，将会为“取消按钮”加上名为“btn-info”的class类，可选值包括“info”、“primary”、“success”、“warning”、“default”、“danger”、“dark”</td>
            <td></td>
          </tr>
          <tr>
            <td>closeOnConfirm</td>
            <td>boolean</td>
            <td>否</td>
            <td>是否点击“确定”按钮后关闭，默认值为true</td>
            <td></td>
          </tr>
          <tr>
            <td>closeOnCancel</td>
            <td>boolean</td>
            <td>否</td>
            <td>是否点击“取消”按钮后关闭，默认值为true</td>
            <td></td>
          </tr>
          <tr>
            <td>showLoaderOnConfirm</td>
            <td>boolean</td>
            <td>否</td>
            <td>是否在点击“确定”按钮后将按钮设为“loading”状态，默认值为false</td>
            <td></td>
          </tr>
          <tr>
            <td>showLoaderOnCancel</td>
            <td>boolean</td>
            <td>否</td>
            <td>是否在点击“取消”按钮后将按钮设为“loading”状态，默认值为false</td>
          </tr>
          <tr>
            <td>confirmLoaderContent</td>
            <td>string</td>
            <td>否</td>
            <td>“确定”按钮loading时按钮内容，默认使用按钮文字</td>
            <td></td>
          </tr>
          <tr>
            <td>cancelLoaderContent</td>
            <td>string</td>
            <td>否</td>
            <td>“取消”按钮loading时按钮内容，默认使用按钮文字</td>
            <td></td>
          </tr>
          <tr>
            <td>textAlign</td>
            <td>string</td>
            <td>否</td>
            <td>pop正文的对齐方式，可选值“left”、“center”,默认为“left”</td>
          </tr>
          <tr>
            <td>iconClass</td>
            <td>string</td>
            <td>否</td>
            <td>pop正文开始位置图标的class类，可通过此参数为弹出框添加字体图标</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </li>
    </ul>
  </div>
</div>

