<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">Select</h2>
</div>
<div class="wrapper-md ">
<form class="form-horizontal pad-def bg-white">
  <div class="form-group">
    <label class="col-sm-2 col-md-1 control-label">Select</label>
    <div class="col-sm-10 col-md-2">
      <select name="account" class="form-control m-b">
        <option value="option 1">option 1</option>
        <option value="option 2">option 2</option>
        <option value="option 3">option 3</option>
        <option value="option 4">option 4</option>
      </select>
    </div>
  </div>
</form>
</div>
