<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">布局组件<small class="font-xs text-disabled padding-left-default"></small></h2>
</div>
<div class="wrapper-md">
  <table class="table table-bordered bg-white">
    <thead class="bg-default">
    <tr>
      <th>类名</th>
      <th>所属模块</th>
      <th>selector</th>
      <th>属性</th>
      <th>说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>RootContainerComponent</td>
      <td>LayoutModule</td>
      <td>root-container</td>
      <td>
        <p>@Input() headerFixed:boolean;<span class="text-disabled">//是否顶部固定</span></p>
        <p>@Input() asideFixed:boolean;<span class="text-disabled">//是否左侧固定</span></p>
        <p>@Input() asideFolded:boolean;<span class="text-disabled">//是否收起左侧菜单</span></p>
      <!--  <p>@Input() asideDock:boolean;<span class="text-disabled">//暂不支持</span></p>
        <p>@Input() container:boolean;<span class="text-disabled">//暂不支持</span></p>-->
        <p>@Input() offScreen:boolean;<span class="text-disabled">//是否处于小屏幕时展开菜单（此时遮住屏幕）</span></p>
      </td>
      <td>是整体布局的根组件，控制页面整体布局</td>
    </tr>
    <tr>
      <td>HeaderComponent</td>
      <td>LayoutModule</td>
      <td>header</td>
      <td>
        @Input() theme:string='';<span class="text-disabled">//主题  当前可选：black、cerulean，默认black</span>
      </td>
      <td>顶部布局组件</td>
    </tr>
    <tr>
      <td>HeaderLeftComponent</td>
      <td>LayoutModule</td>
      <td>header-left</td>
      <td>
        @Input() theme:string='';<span class="text-disabled">//主题  当前可选：black、cerulean，默认black</span>
      </td>
      <td>顶部左边，header的子组件。</td>
    </tr>
    <tr>
      <td>HeaderRightComponent</td>
      <td>LayoutModule</td>
      <td>header-right</td>
      <td>
        @Input() theme:string='';<span class="text-disabled">//主题  当前可选：black、cerulean、white，默认black</span>
      </td>
      <td>顶部右边，header的子组件。</td>
    </tr>
    <tr>
      <td>AsideLeftComponent</td>
      <td>LayoutModule</td>
      <td>aside-left</td>
      <td>
        @Input() theme:string='';<span class="text-disabled">//主题  当前可选：black、cerulean-outline、white，默认black</span>
      </td>
      <td>左侧边栏布局组件。</td>
    </tr>
    </tbody>
  </table>
  <p class="h4 m-b-sm block text-primary">示例</p>
  <code-high-light maxHeight="500px" language="html" codeSrc="./assets/sources/layout-components/layout-components.component.html" >
  </code-high-light>
</div>

