<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">布局组件<small class="font-xs text-disabled padding-left-default"></small></h2>
</div>
<div class="wrapper-md">
  <div class="bg-white pad-def">

    <p class="h3 m-b-sm block">root-container</p>
    <div>
      <p>RootContainerComponent</p>
      <p>是整体布局的根组件，控制页面整体布局</p>
    </div>
    <div _ngcontent-c9="" class="line line-dashed b-b line-lg pull-in"></div>
    <p class="h3 m-b-sm block">header</p>
    <div>
      <p>HeaderComponent</p>
      <p>顶部布局组件</p>
    </div>
    <div _ngcontent-c9="" class="line line-dashed b-b line-lg pull-in"></div>
    <p class="h3 m-b-sm block">header-left</p>
    <div>
      <p>HeaderLeftComponent</p>
      <p>header的子组件</p>
    </div>
    <div _ngcontent-c9="" class="line line-dashed b-b line-lg pull-in"></div>
    <p class="h3 m-b-sm block">header-right</p>
    <div>
      <p>HeaderRightComponent</p>
      <p>header的子组件</p>
    </div>
    <div _ngcontent-c9="" class="line line-dashed b-b line-lg pull-in"></div>
    <p class="h3 m-b-sm block">aside-left</p>
    <div>
      <p>AsideLeftComponent</p>
      <p>左侧边栏布局组件</p>
    </div>
    <div _ngcontent-c9="" class="line line-dashed b-b line-lg pull-in"></div>
    <p class="h3 m-b-sm block">nav-wrap</p>
    <div>
      <p>NavWrapComponent</p>
      <p>aside-left的子组件，控制左菜单布局</p>
    </div>
    <div _ngcontent-c9="" class="line line-dashed b-b line-lg pull-in"></div>
    <p class="h3 m-b-sm block">nav-item</p>
    <div>
      <p>NavItemComponent</p>
      <p>nav-wrap的子组件</p>
    </div>
    <div _ngcontent-c9="" class="line line-dashed b-b line-lg pull-in"></div>
    <p class="h3 m-b-sm block">sub-nav-item</p>
    <div>
      <p>SubNavItemComponent</p>
      <p>nav-item的子组件</p>
    </div>
  </div>
</div>

