<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">Toggle</h2>
</div>
<div class="wrapper-md">

  <form class="bg-white pad-def" name="form">
    <toggle [(value)]="toggle1"  name="obj" size="sm" ></toggle>
    <toggle [(value)]="toggle2"  name="obj" styleClass="bg-warning"></toggle>
    <toggle [(value)]="toggle3"  name="obj" size="lg" styleClass="bg-dark"></toggle>
    <toggle [(value)]="toggle4"  name="obj" styleClass="bg-danger"></toggle>
    <toggle [(value)]="toggle5"  name="obj" styleClass="bg-primary"></toggle>
    <toggle [(value)]="toggle6"  name="obj" styleClass="bg-success"></toggle>
    <toggle [(value)]="toggle7"  name="obj" ></toggle>
  </form>
</div>
