<div class="row">
    <div class="col-md-6">
        默认：
        <spinner size="xs"></spinner>
        <spinner size="sm"></spinner>
        <spinner></spinner>
        <spinner size="lg"></spinner>

    </div>
    <div style="background: #000" class="col-md-6">
        <spinner size="xs" [isDark]="true"></spinner>
        <spinner size="sm" [isDark]="true"></spinner>
        <spinner [isDark]="true"></spinner>
        <spinner size="lg" [isDark]="true"></spinner>

    </div>
    <div class="col-md-6">
        sixty：
        <spinner size="xs" type="sixty"></spinner>
        <spinner size="sm" type="sixty"></spinner>
        <spinner type="sixty"></spinner>
        <spinner size="lg" type="sixty"></spinner>
        <spinner size="lg" type="sixty"></spinner>


    </div>
    <div style="background: #000" class="col-md-6">
        <spinner size="xs" type="sixty" [isDark]="true"></spinner>
        <spinner size="sm" type="sixty" [isDark]="true"></spinner>
        <spinner type="sixty" [isDark]="true"></spinner>
        <spinner size="lg" type="sixty" [isDark]="true"></spinner>

    </div>
</div>