<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">Basic</h2>
</div>

<div class="wrapper-md">
  <p-dataTable [value]="cars" [editable]="true">
    <p-column field="vin" header="Vin" [editable]="true"></p-column>
    <p-column field="year" header="Year" [editable]="true"></p-column>
    <p-column field="brand" header="Brand" [editable]="true" [style]="{'overflow':'visible'}">
      <ng-template let-col let-car="rowData" pTemplate="editor">
        <p-dropdown [(ngModel)]="car[col.field]" [options]="brands" [autoWidth]="false" [style]="{'width':'100%'}" required="true"></p-dropdown>
      </ng-template>
    </p-column>
    <p-column field="color" header="Color" [editable]="true"></p-column>
    <p-column field="saleDate" header="Sale Date" [editable]="true" [style]=" {'overflow':'visible' }">
      <ng-template let-col let-car="rowData" pTemplate="body">
        {{car[col.field]|date }}
      </ng-template>
      <ng-template let-col let-car="rowData" pTemplate="editor">
        <!--<p-calendar [(ngModel)]="car[col.field]"></p-calendar>-->
      </ng-template>
    </p-column>
  </p-dataTable>
  <p class="mar-t-sm">详细文档请移步：<a class="text-info txt-underline" href="https://www.primefaces.org/primeng/#/datatable" target="_blank">primeng</a></p>

</div>
