<div class="pad-def bg-default bor-b-def">
    <h2 class="no-margin">布局组件<small class="font-xs text-disabled padding-left-default"></small></h2>
</div>
<div class="wrapper-md">
    <table class="table table-bordered bg-white">
        <thead class="bg-default">
            <tr>
                <th>类名</th>
                <th>所属模块</th>
                <th>selector</th>
                <th>属性</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NavWrapComponent</td>
                <td rowspan="4" style="vertical-align: middle">NavModule</td>
                <td>nav-wrap</td>
                <td>
                    -
                </td>
                <td>菜单组件的外层。</td>
            </tr>
            <tr>
                <td>NavItemComponent</td>
                <!--   <td>NavModule</td>-->
                <td>nav-item</td>
                <td>
                    <p>@Input() icon:string;<span class="text-disabled">//图标css类</span></p>
                    <p>@Input() text:string;<span class="text-disabled">//菜单文字</span></p>
                    <p>@Input() link:any;<span class="text-disabled">//路由链接</span></p>
                    <p>@Input('badge-class') badgeClass: string;<span class="text-disabled">//数字图标css类</span></p>
                    <p>@Input('badge-value') badgeValue: any;<span class="text-disabled">//数字图标显示的内容</span></p>
                    <p>@Input() disabled: any;<span class="text-disabled">//是否禁用（禁用时置灰且链接无效）</span></p>
                </td>
                <td>一级菜单。</td>
            </tr>
            <tr>
                <td>SubNavItemComponent</td>
                <!--  <td>NavModule</td>-->
                <td>sub-nav-item</td>
                <td>
                    <p>@Input() text:string;<span class="text-disabled">//菜单文字</span></p>
                    <p>@Input() link:any;<span class="text-disabled">//路由链接</span></p>
                    <p>@Input() disabled: any;<span class="text-disabled">//是否禁用（禁用时置灰且链接无效）</span></p>
                </td>
                <td>二级菜单。</td>
            </tr>
            <tr>
                <td>ThirthNavItemComponent</td>
                <!-- <td>NavModule</td>-->
                <td>thirth-nav-item</td>
                <td>
                    <p>@Input() text:string;<span class="text-disabled">//菜单文字</span></p>
                    <p>@Input() link:any;<span class="text-disabled">//路由链接</span></p>
                    <p>@Input() disabled: any;<span class="text-disabled">//是否禁用（禁用时置灰且链接无效）</span></p>
                </td>
                <td>三级菜单。</td>
            </tr>
        </tbody>
    </table>
    <p class="h4 m-b-sm block text-primary">示例</p>
    <code-high-light maxHeight="500px" language="html" codeSrc="./assets/sources/nav-components/nav-components.component.html">
    </code-high-light>
</div>