<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">modal<small class="font-xs text-disabled padding-left-default">component</small></h2>
</div>
<div class="wrapper-md">
  <p class="h4 m-b-sm block">示例</p>
  <div>
    <p>
      <button class="btn btn-default" (click)="showModal()">默认模态框</button>
      <button class="btn btn-primary" (click)="showModal('lg')">大模态框</button>
      <button class="btn btn-info" (click)="showModal('sm')">小模态框</button>
    </p>
  </div>
  <div >
  </div>
</div>

<modal [(visible)]="isShowModal" [size]="modalSize">
  <modal-header>
    <h4 class="modal-title">Modal title </h4>
  </modal-header>
  <modal-body>
    <p style="height: 100px">One fine body&hellip;</p>
  </modal-body>
  <modal-footer>
    <button  class="btn btn-default" (click)="closeModal()">关闭</button>
    <button class="btn btn-primary">保存</button>
  </modal-footer>
</modal>
