<div class="pad-def bg-default bor-b-def">
    <h2 class="no-margin">hover显示删除按钮<small class="font-xs text-disabled mar-l-xs">component</small></h2>
</div>
<div class="wrapper-md">
    <p class="h4 m-b-sm block text-primary">示例</p>
    <div class="">
        <delete-wrap *ngFor="let img of galleryImages;let i=index" size="sm" (remove)="deleteConfirm(i)">
            <a class="img-wrap">
                <img [src]="img.a.b" />
            </a>
        </delete-wrap>
    </div>
    <code-high-light maxHeight="500px" language="html" codeSrc="./assets/sources/delete-wrap-demo/delete-wrap-demo.component.html"></code-high-light>
    <p class="h4 m-b-sm block text-primary">属性</p>
    <table class="table table-bordered bg-white">
        <thead class="bg-default">
            <tr>
                <th>属性名</th>
                <th>类型</th>
                <th>输入/输出类型</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>size</td>
                <td>Input</td>
                <td>string</td>
                <td>
                    删除按钮尺寸。默认md,可选：lg、md、sm、xs。
                </td>
            </tr>
            <tr>
                <td>remove</td>
                <td>Output</td>
                <td>EventEmitter
                    < any>
                </td>
                <td>
                    删除按钮点击事件。
                </td>
            </tr>
        </tbody>
    </table>
    <p class="h6 m-b-sm block text-primary">From:<span class="text-disabled">LayoutModule/DeleteWrapComponent</span></p>
</div>