<div class="pad-def bg-default bor-b-def">
    <h2 class="no-margin">currencyFormat<small class="font-xs text-disabled mar-l-xs">directive</small></h2>
</div>
<div class="wrapper-md">
    <p class="h4 m-b-sm block text-primary">示例</p>
    <form class="form-inline clearfix mar-b-sm">
        <input class="form-control" [(ngModel)]="amount" currencyFormat name="amount" placeholder="输入金额" />
        <p class="mar-t-xs">注：该指令仅对input标签有效</p>
    </form>
    <code-high-light maxHeight="500px" language="html" codeSrc="./assets/sources/currency-format-demo/currency-format-directive-demo.component.html">
    </code-high-light>
    <p class="h6 m-b-sm block text-primary">From:<span class="text-disabled">CurrencyFormatModule / CurrencyFormatDirective</span></p>
</div>