<div class="pad-def bg-default bor-b-def">
    <h2 class="no-margin">slide-down
        <small class="font-xs text-disabled padding-left-default">component</small>
    </h2>
</div>
<div class="wrapper-md">
    <p class="h4 m-b-sm block text-primary">示例</p>
    <div class="mar-b-sm">
        <div class="pad-b-sm">
            <button type="button" class="btn btn-primary" (click)="slidedown.toggle()">点我</button>
        </div>
        <slide-down #slidedown>
            <div style="background-color: #fff;border:1px solid #ddd;height: 200px;padding: 10px;">
                这里是可展开/隐藏的区域
            </div>
        </slide-down>
    </div>
    <code-high-light maxHeight="500px" language="html" codeSrc="./assets/sources/slide-down-demo/slide-down-demo.component.html">
    </code-high-light>
    <p class="h4 m-b-sm block text-primary">@Input</p>
    <table class="table table-bordered bg-white">
        <thead class="bg-default">
            <tr>
                <th>属性名</th>
                <th>类型</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>animateTime</td>
                <td>number</td>
                <td>
                    过渡动画执行时间(单位：秒)。
                </td>
            </tr>
        </tbody>
    </table>
    <p class="h4 m-b-sm block text-primary">方法</p>
    <ul class="pad-def bor-def bg-white mar-b-sm">
        <li>
            <p><i class="bold pad-r-xs">open</i><span>展开</span></p>
        </li>
        <li>
            <p><i class="bold pad-r-xs">close</i><span> 收起</span></p>
        </li>
        <li>
            <p><i class="bold pad-r-xs">toggle</i><span> 展开/收起切换</span></p>
        </li>
    </ul>
    <p class="h6 m-b-sm block text-primary">From:<span class="text-disabled">SlideDownModule/SlideDownComponent</span></p>
</div>