<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">列显隐</h2>
</div>

<div class="wrapper-md">
  <p-dataTable [value]="cars">
    <p-header>
      <div style="text-align:left">
        <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
      </div>
    </p-header>
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
  </p-dataTable>
  <p class="mar-t-sm">详细文档请移步：<a class="text-info txt-underline" href="https://www.primefaces.org/primeng/#/datatable" target="_blank">primeng</a></p>

</div>
