<ul class="mar-b-sm bg-white pad-def bor-def">
    <li class="mar-b-xs">
        <b>例1：</b><span class="text-gold">{{123456789|currencyFormat}}</span>
    </li>
    <li class="mar-b-xs">
        <b>例2：</b><span class="text-gold">{{123456789|currencyFormat:'xx 元'}}</span>
    </li>
    <li class="mar-b-xs">
        <b>例3：</b><span class="text-gold">{{123456789|currencyFormat:'￥xx'}}</span>
    </li>
    <li class="mar-b-xs">
        <b>例4：</b><span class="text-gold">{{123456789|currencyFormat:['xx 元',4]}}</span>
    </li>
    <li class="mar-b-xs">
        <b>例5：</b><span class="text-gold">{{123456789|currencyFormat:['xx 元','-',0]}}</span>
    </li>
    <li class="mar-b-xs">
        <b>例6：</b><span class="text-gold">{{123456789.1234567|currencyFormat:6}}</span>
    </li>
    <li class="mar-b-xs">
        <b>例7：</b><span class="text-gold">{{123456789.1234567|currencyFormat:['￥xx',2,4]}}</span>
    </li>
</ul>