<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">modal
    <small class="font-xs text-disabled padding-left-default">component</small>
  </h2>
</div>
<div class="wrapper-md">
  <table class="table table-bordered bg-white">
    <tr>
      <td width="15%"><b>类名</b></td>
      <td>ModalComponent</td>
      <td rowspan="4">
        <p>两种使用方式：</p>
        <p>1.通过属性visible双向绑定控制显示/隐藏</p>
        <p>2.通过声明模版变量（指向组件实例），调用open/close方法控制显示/隐藏</p>
      </td>
    </tr>
    <tr>
      <td><b>所属模块</b></td>
      <td>ModalModule</td>
    </tr>
    <tr>
      <td><b>类型</b></td>
      <td>组件</td>
    </tr>
    <tr>
      <td><b>selector</b></td>
      <td>modal</td>
    </tr>
  </table>
  <p class="h4 m-b-sm block text-primary">示例</p>
  <div>
    <p>
      <button class="btn btn-default" (click)="showModal()">默认模态框</button>
      <button class="btn btn-primary" (click)="showModal('lg')">大模态框</button>
      <button class="btn btn-info" (click)="showModal('sm')">小模态框</button>
      <button class="btn btn-info" (click)="modal.open()" >open</button>
    </p>
  </div>
  <div class="tab-container ng-isolate-scope">
    <ul class="nav nav-tabs ">
      <li [ngClass]="{active: tabIndex===1}" class="ng-isolate-scope">
        <a  (click)="changTab(1)">html</a>
      </li>
      <li [ngClass]="{active: tabIndex===2}" class="ng-isolate-scope">
        <a  (click)="changTab(2)">typescript</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" [ngClass]="{active: tabIndex===1}">
        <code-high-light language="html" codeSrc="./assets/sources/modal-demo/modal-demo.component.html" >
        </code-high-light>
      </div>
      <div class="tab-pane "  [ngClass]="{active: tabIndex===2}" >
        <code-high-light maxHeight="500px" language="typescript" codeSrc="./assets/sources/modal-demo/modal-demo.component.ts.code">
        </code-high-light>
      </div>
    </div>
  </div>
</div>
<modal [(visible)]="isShowModal" [size]="modalSize">
  <modal-header>
    <h4 class="modal-title">Modal title </h4>
  </modal-header>
  <modal-body>
    <p style="height: 100px">One fine body&hellip;</p>
  </modal-body>
  <modal-footer>
    <button class="btn btn-default" (click)="closeModal()">关闭</button>
    <button class="btn btn-primary">保存</button>
  </modal-footer>
</modal>
<modal size="md" #modal>
  <modal-header>
    <h4 class="modal-title">Modal title </h4>
  </modal-header>
  <modal-body>
    <p style="height: 100px">这是调用open方法打开的模态框</p>
  </modal-body>
  <modal-footer>
    <button class="btn btn-default" (click)="modal.close()">关闭</button>
  </modal-footer>
</modal>
