<li routerLinkActive="active" [ngClass]="{'exist-children':haveChild}" >
  <a routerLink="{{link}}" *ngIf="link" >
   <span class="pull-right text-muted" *ngIf="haveChild">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
   </span>
    <b class="pull-right {{badgeClass}}" *ngIf="badgeValue">{{badgeValue}}</b>
    <i class="{{icon}}"></i>
    <span >{{text}}</span>
  </a>
  <a  *ngIf="!link">
   <span class="pull-right text-muted" *ngIf="haveChild">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
   </span>
    <b class="pull-right {{badgeClass}}" *ngIf="badgeValue">{{badgeValue}}</b>
    <i class="{{icon}}"></i>
    <span >{{text}}</span>
  </a>
  <ul class="nav nav-sub dk">
    <ng-content></ng-content>
  </ul>
</li>


