<div class="pad-def bg-default bor-b-def">
  <h2 class="no-margin">滚动</h2>
</div>

<div class="wrapper-md">
  <p-dataTable [value]="cars" scrollable="true" scrollHeight="200px">
    <p-header>Vertical</p-header>
    <p-column field="vin" header="Vin"></p-column>
    <p-column field="year" header="Year"></p-column>
    <p-column field="brand" header="Brand"></p-column>
    <p-column field="color" header="Color"></p-column>
    </p-dataTable>

    <p-dataTable [value]="carsLarge" scrollable="true" scrollHeight="200px" [rows]="20" virtualScroll="virtualScroll" [style]="{'margin-top':'30px'}"
                 [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)">
      <p-header>Virtual Scrolling - 500000 Rows</p-header>
      <p-column field="vin" header="Vin"></p-column>
      <p-column field="year" header="Year"></p-column>
      <p-column field="brand" header="Brand"></p-column>
      <p-column field="color" header="Color"></p-column>
    </p-dataTable>

    <p-dataTable [value]="cars" scrollable="true"  scrollHeight="200px" scrollWidth="600px" [style]="{'margin-top':'30px'}">
      <p-header>Vertical and Horizontal</p-header>
      <p-column field="vin" header="Vin" [style]="{'width':'250px'}"></p-column>
      <p-column field="year" header="Year" [style]="{'width':'250px'}"></p-column>
      <p-column field="brand" header="Brand" [style]="{'width':'250px'}"></p-column>
      <p-column field="color" header="Color" [style]="{'width':'250px'}"></p-column>
    </p-dataTable>

    <p-dataTable [value]="cars" scrollable="true" scrollHeight="200px" frozenWidth="200px" unfrozenWidth="600px" [style]="{'margin-top':'30px'}">
      <p-header>Frozen Columns</p-header>
      <p-column field="vin" header="Vin" [style]="{'width':'250px'}" frozen="true"></p-column>
      <p-column field="year" header="Year" [style]="{'width':'250px'}"></p-column>
      <p-column field="brand" header="Brand" [style]="{'width':'250px'}"></p-column>
      <p-column field="color" header="Color" [style]="{'width':'250px'}"></p-column>
      <p-column field="year" header="Year" [style]="{'width':'250px'}"></p-column>
      <p-column field="brand" header="Brand" [style]="{'width':'250px'}"></p-column>
      <p-column field="color" header="Color" [style]="{'width':'250px'}"></p-column>
    </p-dataTable>
  <p class="mar-t-sm">详细文档请移步：<a class="text-info txt-underline" href="https://www.primefaces.org/primeng/#/datatable" target="_blank">primeng</a></p>

</div>
